@media (min-width: 0px) and (max-width: 475px) {

    .cabecalho {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .cabecalho__logo {
        display: none;
    }

    .cabecalho__texto {
        font-size: 22px;
    }

    .container {
        padding: 0;
        justify-content: space-evenly;
    }
    .text__area {
        width: 50vw;
        height: 50vh;
        font-size: 20px;
    }

    .informacao {
        font-size: 9px;
    }

    .botao__acao {
        flex-flow: column wrap;
    }

    .botao__acao button:first-of-type {
        width: 150px;
        height: 50px;
        padding: 15px;
    }

    .botao__acao button:last-of-type {
        width: 150px;
        height: 50px;
        padding: 15px;
    }

}

/* CONTINUAAAA */

@media (min-width: 476px) and (max-width: 698px)) {
    /* main {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding: 2vh 4vw;
        gap: 50px;
        height: 100vh;
        width: 100vw;
    }

    .botao__acao {
        flex-direction: column;
        width: 100%;
    }
    .mensagem {
        box-sizing: border-box;
        width: 100vw;
        height: 100%;
        font-size: 32px;
    }

    .semMensagem {
        box-sizing: border-box;
        position: absolute;
        font-size: 28px;
        top: 15%;
        left: 10%;
        right: 10%;
    }
    .output__img {
        display: none;
    }

    .output__mensagem {
        font-size: 0.75em;
    }

    .rodape {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding: 5rem;
        text-align: center;
    }*/

}

@media (min-width: 698px) and (max-width: 960px) {

    /* main section {
        height: 60%;
    }

    .output__img {
        width: 18vw;
    }

    .output__mensagem {
        font-size: 22px;
    }

    .output__span {
        font-size: 13px;
    }
    .button__copiar {
        width: 60%;
        padding: 18px;
    }
*/
}